#cover-photo {
    position: relative;
    top: 37px;
    width: 250px;
    height: 250px;
    border: 2px solid rgb(39 8 98);
    border-radius: 5%;

}

.profile-stats ul li {
    list-style: none;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    padding: 18px;
    font-size: 18px;
}

.profile-stats ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.profile-stats-num {
    display: block;
    color:#6012a5;
    font-size: 150%;
}

#report-btn {
    background-color: rgba(221, 3, 3, 0.863);
    border-color: rgba(160, 2, 2, 0.863);
    font-size: 15px;
}

#report-btn:hover {
    background-color: rgba(160, 4, 4, 0.863);
}




#edit-btn #download-btn {
    display: inline-block;
    position: relative;
    font-size: 17px;
}

#edit-btn {
    text-decoration: none;
}

#timeline-btn{
    margin-right: 50px;
    text-decoration: none;
}

#download-btn {
    text-decoration: none;
    margin-right: 50px;
}

#description-text {
    margin: 5px 15px;
}

#des-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 4px;
    margin-top: 0px;
}

#interests-list1 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 10px;
    margin-top: 0px;
}
#interests-list1 li{
    width:fit-content;
}

#interests-list1 li p{
    margin: 0px 10px;
    font-size: 16px;
    cursor: default;
    background-color: #6412ad;
}

#interests-list1 li p:hover{
    background-color: rgb(63, 13, 156);
}



#overflow-container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: unset;
}

.cover-no-overflow {
    overflow: auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}


#coverButtons {
    margin-top: 20px;
}

#coverButtons2 {
    margin-top: 0px;
}

#like-btn{
    margin-left: 10px;
    background-color: #6f27ad;
    width: 80px;
}

.page .rhap_time {
    color: #9317ff;
}

.page .rhap_container {
    background-color: rgb(63 13 156 / 0%);
    padding: 10px 30px;
}

.page  .rhap_progress-indicator {
    background-color: rgb(70 3 193);
}

.page  .rhap_progress-filled {
    background-color: rgb(70 3 193);

}

.page .rhap_main-controls-button {
    color: rgb(70 3 193);
}

.page .rhap_volume-button {
    color: rgb(70 3 193);
}

.page .rhap_volume-indicator {
    background: #9317ff;
}

.page .rhap_repeat-button {
    color: rgb(70 3 193);
}

.hashtag-cover-page {
        color: #6b309f;
        margin-bottom: 0;
        padding: 3px 10px;
        margin: 0;
        padding-bottom: 5px;
}