html,body{
    margin: 0px;
    height: 100%;
}

body {
    background-color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
}

#profileHeader {
    height: 100%;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.904);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
}
.headerSubLabel{
    color: grey;
}

#profilePhotoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
}
#profilePhoto {
    margin-top: 37px;
    width: 190px;
    height: 190px;
    border: 2px solid silver;
    border-radius: 50%;
    z-index: 0;
}

#changePhotoLabel {
    color: aliceblue;
    cursor: pointer;
    width: 190px;
    height: 95px;
    z-index: 400;
    background-color: #0000009e;
    text-align: center;
    border-bottom-right-radius: 190px;
    border-bottom-left-radius: 190px;
    margin-top: -95px;
}


#photo{
    display: none;
}

#username {
    color: aliceblue;
    padding: 5px;
    top: 25px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


#profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

#headerContainer{
    display: flex;
    width: 60vw;

}
#backLink{
    text-decoration: none;
    color: gray;
    margin-left: auto;
    margin-top: 35px;
}

.pageTitle {
    margin: 21px 0px;
}

.settingLabel {
    font-size: small;
    margin: 5px;
}

.settingInput {
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 0.1px solid silver;
    background-color: rgb(235 235 235);
    width: 90%;
    font-size: medium;
    margin-top: 5px;
}

.settingInput:focus {
    background-color: white;
    border-color: rgb(63, 13, 156);
    outline: none;
}

#settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    border-top: 0.1px solid silver;
    margin-top: 20px;
    
}

.row{
    width: 70%;
}

#passwordContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 0.1px solid silver;
}

.sectionTitle{
    font-size: 16px;
    align-self: flex-start;
    margin-left: 10%;
}

.btn {
    color: aliceblue;
    background-color: rgb(63, 13, 156);
    border: 0.5px solid rgb(45, 0, 128);
    border-radius: 5px;
    width: fit-content;
    font-size: 15px;
    padding: 4px 12px;
    font-weight: 400;
    box-sizing: border-box;
}

.subBtn {
    align-self: flex-start;
    margin-left: 15%;
}


#logoutBtn {
    font-size: 17px;
    margin-top: auto;
}

