html,body{
    margin: 0px;
    height: 100%;
}

body {
    background-color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
}

#uploadContainer {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
}


#coverPhotoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    margin-top: 60px;
}

#coverPhoto {
    width: 190px;
    height: 190px;
    border: 2px solid silver;
    z-index: 0;
}

#changePhotoLabel {
    color: aliceblue;
    cursor: pointer;
    width: 190px;
    height: 40px;
    z-index: 400;
    background-color: #0000009e;
    text-align: center;
    margin-top: -41px;
}


#photo{
    display: none;
}

#audioFile {
    display: none;
}

#workDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
}

#headerContainer{
    display: flex;
    width: 60vw;
}

#backLink{
    text-decoration: none;
    color: gray;
    margin-top: 35px;
}

.pageTitle {
    margin: 21px 0px;
}

.detailLabel {
    font-size: small;
    margin: 5px;
}

.detailInput {
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 0.1px solid silver;
    background-color: rgb(235 235 235);
    width: 90%;
    font-size: medium;
    margin-top: 5px;
}

.detailInput:focus, #descriptionTextBox:focus {
    background-color: white;
    border-color: rgb(63, 13, 156);
    outline: none;
}

#detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    border-top: 0.1px solid silver;
    margin-top: 20px;
    
}

.row{
    width: 70%;
}


.sectionTitle{
    font-size: 16px;
    align-self: flex-start;
    margin-left: 10%;
}

#audioFileLabel {
    border: 0.1px dashed silver;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.btn {
    color: aliceblue;
    background-color: rgb(63, 13, 156);
    border: 0.5px solid rgb(45, 0, 128);
    border-radius: 5px;
    width: fit-content;
    font-size: 15px;
    padding: 4px 12px;
    font-weight: 400;
    box-sizing: border-box;
}

#uploadBtn {
    font-size: 17px;
    margin-top: 120px;
}

form {
    width: 60vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

#descriptionTextBox{
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 0.1px solid silver;
    background-color: rgb(235 235 235);
    width: 90%;
    font-size: medium;
    margin-top: 5px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    overflow: auto;
    resize: none;
    outline: none;
    height: 120px;
}

