#profileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

#middleBox{
    height: 30%;
}

#bioContainer{
    width: 100%;
    height: 100%;
}

#bioTextBox{
    width: 100%;
    height: 95%;
    text-align: left;
    background-color: rgb(63, 13, 156);
    border: 0;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    overflow: auto;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 26px;
    padding-right: 26px;
    resize: none;
    outline: none;
}
