#workDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
}

#headerContainer{
    display: flex;
    width: 60vw;
}

#backLink{
    text-decoration: none;
    color: gray;
    margin-top: 35px;
}

.pageTitle {
    margin: 21px 0px;
}


#detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    border-top: 0.1px solid silver;
    margin-top: 20px;
    
}

form {
    width: 60vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.row{
    width: 70%;
}

.detailLabel {
    font-size: small;
    margin: 5px;
}

.detailInput {
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 0.1px solid silver;
    background-color: rgb(235 235 235);
    width: 90%;
    font-size: medium;
    margin-top: 5px;
}

#audioFileLabel {
    border: 0.1px dashed silver;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

#audioFileLabel:hover {
    background-color: white;
    border: 0.1px solid;
    border-color: rgb(63, 13, 156);
    outline: none;

}

#audioFile {
    display: none;
}


#descriptionTextBox{
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 0.1px solid silver;
    background-color: rgb(235 235 235);
    width: 90%;
    font-size: medium;
    margin-top: 5px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    overflow: auto;
    resize: none;
    outline: none;
    height: 120px;
}

.detailInput:focus, #descriptionTextBox:focus {
    background-color: white;
    border-color: rgb(63, 13, 156);
    outline: none;
}

