body{
    background-color: black;
    color: white;
}

.login-container {
    background-color: #1c1c1e;
     border: 0.5px solid #141414;
     color: aliceblue;
     border-radius: 12px;
     height: 80%;
     width: 80%;
     margin: auto;
     box-shadow: 0px 2px 4px 3px #141414;
     margin-bottom: 5px;
     overflow: hidden;
     margin-top: 10%;
     align-items: center;
}

.logIn-greetings {
    text-align: center;
}

.login-form-container {
    margin-right: 5000px;
}

.login_form {
    margin-left: 132px;
}