.footer {
    padding-top: 15px;
    padding-bottom: 10px;
    margin: auto;
    width: 50%;
}

#left-button {
    display: inline-block;
    position: relative;
    right: 248px;
}


#right-button {
    display: inline-block;
    position: relative;
    left: 780px;
}

#right-button-a {
    display: inline-block;
    position: relative;
    left: 462px;
}

#right-button-b {
    display: inline-block;
    position: relative;
    left: 458px;
}

#right-button-c {
    display: inline-block;
    position: relative;
    left: 413px;
}

#right-button-d {
    display: inline-block;
    position: relative;
    left: 418px;
}
#right-button-e {
    display: inline-block;
    position: relative;
    left: 662px;
}