.btn {
    color: aliceblue;
    background-color: rgb(63, 13, 156);
    border: 0.5px solid rgb(45, 0, 128);
    border-radius: 5px;
    width: fit-content;
    font-size: 15px;
    padding: 4px 12px;
    font-weight: 400;
    box-sizing: border-box;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(39, 8, 98);
}

.subBtn {
    color: aliceblue;
    background-color: rgba(36, 3, 221, 0);
    border: 0px;
    border-radius: 5px;
    width: 100px;
    font-size: 15px;
    align-self: flex-end;
    margin: 5px;
    text-decoration: none;
   
}

.subBtn:hover {
    text-decoration-line: underline;
    color: rgb(199, 204, 209);
}